.skill {
  flex: 1 0 50%;
  max-width: 390px;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__header {
    padding: 25px 0;
  }

  &__icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 60px;
      background: linear-gradient(to right, #12c2e9, #f64f59, #f64f59);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__description {
    padding: 20px 0;
    line-height: 150%;
    text-align: center;
  }
}