/*common styles*/
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #F0F4F0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;

  @media (max-width: 1182px) {
    max-width: 970px;
  }

  @media (max-width: 991.98px) {
    max-width: 750px;
  }

  @media (max-width: 767.98px) {
    max-width: none;
    padding: 0 10px;
  }

}

.page {
  flex: 1 1 auto;
}

.btn {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 3px;
  background: none;
  border: none;
  display: inline-flex;
  font-weight: 300;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
    height: 2px;
    width: 0;
    background-image: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
    transition: ease all 0.35s;
  }

  &:hover:after {
    right: auto;
    left: 0;
    width: 100%;
  }
}

/*--------------------*/