.main {
  padding: 100px 0;


  &__content {
    display: flex;
    height: 100%;

    @media (max-width: 767.98px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 767.98px) {
      flex: 1 1 100%;
    }
  }

  &__mainTitle {
    font-size: 60px;
    font-weight: 700;
    line-height: 120%;

    @media (max-width: 767.98px) {
      font-size: 50px;
      flex: 1 1 auto;
      text-align: center;
      line-height: 140%;
      padding: 10px 0;
    }

    @media (max-width: 479.98px) {
      font-size: 40px;
    }

    span {
      background: linear-gradient(to right, #12c2e9, #f64f59, #f64f59);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__resume {
    padding: 10px 0;
  }

  &__image {
    flex: 0 0 40%;

    @media (max-width: 991.98px) {
      flex: 0 0 40%;
    }

    @media (max-width: 767.98px) {
      flex: 0 0 60%;
    }

    @media (max-width: 479.98px) {
      flex: 0 0 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20%;
    }
  }
}