.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  border-radius: 15px;
  overflow: hidden;

  &__image {
    width: 100%;
    height: 200px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
    }
  }

  &__body {
    flex: 1 1 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;

    a {
      justify-self: flex-end;
    }
  }

  &__description {
    padding: 20px 0;
    line-height: 150%;
    flex: 1 1 auto;
  }


}