.body {
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
}

.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 120%;
  color: #fff;
  text-align: center;
  padding-bottom: 10px;
  position: relative;

  &:after {
    content: "";
    bottom: 0;
    left: 0;
    width: 50px;
    height: 2px;
    background-image: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
    background-size: 120% 2px;
    position: absolute;
  }
}