.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.59);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  position: relative;
  z-index: 1;
  padding: 20px 0;

  &__content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 399.98px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__links {
    @media (max-width: 399.98px) {
      margin-bottom: 10px;
    }

    a {
      display: inline-block;
      margin-right: 20px;
      transition: all ease 0.3s;
      font-size: 20px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        transform: scale(1.3);
        background: linear-gradient(to right, #12c2e9, #f64f59, #f64f59);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

  }
}