.nav {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
}

.list {
    display: flex;
}

.item {
    margin-right: 20px;
}

.item:last-child {
    margin-right: 0;
}

.link {
    display: inline-flex;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    padding: 5px 15px;
    transition: background-color ease 0.3s;
    color: inherit;
}

.link:hover {
    background-color: #FF7B47;
}