.nav {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;

  &__collapse {
    display: flex;
  }

  &__list {
    display: flex;

  }

  &__item {
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }

  }

  &__link {
    display: block;
    color: #fff;
    text-transform: uppercase;
    padding: 0;
    letter-spacing: 1px;
    font-size: 14px;
    position: relative;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

    @media (min-width: 991.98px) {
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: auto;
        right: 0;
        height: 2px;
        width: 0;
        transition: ease all 0.35s;
      }

      &:hover:after {
        left: 0;
        right: auto;
        width: 100%;
        background-image: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
      }

      &.active:after {
        left: 0;
        right: auto;
        width: 100%;
        background-image: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
      }
    }
  }
}